:root {
  --accent-color: #ff9933;
  --red: #ad2b2e; /* TODO thebyrd find red that matches yellow */
  --green: rgb(0, 165, 75);
  --grey-dark: #444;
  --grey: #c2c2c2;


  --width: 620px;
  --nav-height: 42px;
  --top-line-height: 13px;

  --logo-size: 40px;
}

* {
  box-sizing: border-box;
}

body {
  border-top: var(--top-line-height) solid var(--accent-color);
  font-family: "museo-slab", serif;
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4, footer, footer a {
  font: 16px "museo-sans-rounded", sans-serif;
  margin: 0;
}

a {
  font-family: "museo-slab", serif;
  color: var(--grey);
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  color: var(--grey-dark);
}

h4 {
  font-size: 1.313em;
  text-transform: uppercase;
  /*background: url("/static/yellow-stripe.png") repeat;*/
  display: inline-block; /* so the background is only behind the text */
}

img {
  width: 100%
}

.logo {
  float: left;
  width: 100px;
  margin-right: 20px
}

.container {
  width: var(--width);
  margin: 0 auto;
  background-color: white;
  height: 100%;
  padding: 20px 60px;
}

.btn:active, .btn:focus {
  outline: none;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4285714;
  user-select: none;
  color: white;
  border-radius: 0px;
  transition: border-radius 300ms, background-color 300ms;
}
.btn:hover {
  color: white;
  background-color: var(--accent-color);
  border-radius: 4px;
}
.btn-default {
  background-color: var(--grey);
}
.btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

pre.code {
  border-radius: 8px;
  font: 12px "museo-slab" var(--grey-dark);
  overflow: auto;
  padding: 10px;
}

.form {
  max-width: 285px;
}
.form .form-group {
  width: 100%;
  margin-bottom: 12px;
}
.form-group label, .form-group input {
  display: inline;
}
input:focus, input:active {
  outline: none;
}
.form-group input:focus, .form-group input:active {
  border-color: var(--accent-color);
}

.form-group input.warning,
.form-group input.warning:focus,
.form-group input.warning:active {
  border-color: var(--red) !important;
}

.form-group .text-input {
  display: inline;
  border: 1px solid var(--grey);
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.4) inset;
  -webkit-appearance: textfield;
  -webkit-user-select: text;
  cursor: auto;
  padding: 10px 15px;
  width: 100%;
  transition: border 300ms ease;
}
.form input[type="submit"] {
  width: 100%;
  padding: 10px;
}
.form .no-show {
    border: 0;
}

.group {
  margin: 0;
  padding: 40px 0;
  border-bottom: 2px solid var(--grey);
  overflow: auto;
}

.stat-group {
  overflow: hidden;
}
.stat-item {
  margin: 0 35px;
  padding: 0;
  float: left;
  text-align: center;
  text-decoration: none;
}

.list {
  margin-bottom: 22px;
}
.list .item {
  margin-bottom: 6px;
}
.list dt, .list dd {
  margin: 0;
  display: block;
}
.list dt {
  color: var(--grey-dark);
}
.list dd {
  color: var(--grey);
  margin-bottom: 14px;
  font-size: 12px;
}


.download-group img,
.download-group div {
  float: left;
}
.download-group .thumbnail {
  width: 75px;
}
.download-group .description {
  margin: 15px 0 0 30px;
}
.group-title h1 {
  padding-top: 10px;
}

.butterbar {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -320px;
  text-align: center;
  width: 58%;
  max-width: 640px;
  opacity: 0;
  transition: opacity 0.5s
}
.butterbar.visible {
  opacity: 1;
}
.butterbar.butterbar-alert .message {
  border: 1px solid var(--red);
  border-top: 0;
  color: var(--red);
}
.butterbar.butterbar-confirm .message {
  border: 1px solid var(--green);
  border-top: 0;
  color: var(--green);
}
.butterbar .message {
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.35);
  padding: 12px 25px;
  display: inline-block;
  border-radius: 0 0 4px 4px;
  margin: 0;
  background: white;
}

@media only screen and (max-device-width: 480px) {
  .container {
    width: 100%;
    padding: 20px 20px;
  }
}
